@{
    ViewData["Title"] = "Автомобильный форум";
}

<div class="main-page">
    <h3 class="main-page-title">Добро пожаловать! Ищите отзывы про интересующие вас автомбили.</h3>
    <a asp-action="Search" asp-controller="Review" class="find-reviews">Найти отзывы</a>
</div>
<div class="random-cars">
    <h3 class="random-cars-title">Вам могут быть инетересны</h3>
    <ul class="random-cars-revies" id="userReviewsList">
        @if (ViewBag.RandomReviews is not null)
        {
            @foreach (var review in ViewBag.RandomReviews)
            {
                <li>
                    <strong>@review.Title</strong>
                    <p>Рейтинг: @(review.Rating ?? 0)</p>
                    <p>Автомобиль: @(review.CarBrand ?? "") @(review.CarModel ?? "")</p>
                    <p>Опубликовано: @(review.PublishTime?.ToShortDateString() ?? "")</p>
                    <div class="options">
                        <a asp-action="Details" asp-controller="Review" asp-route-id="@review.Id" class="more-info">Подробнее</a>
                    </div>
                    @if (!string.IsNullOrEmpty(review.PhotoPath))
                    {
                        <img class="car-image" src="@Url.Content(review.PhotoPath)" alt="Фотография авто" />
                    }
                </li>
            }
        }
    </ul>
</div>