@model CarForum.Models.User

@{
    ViewData["Title"] = $"Личный кабинет";
}

<div class="user-data">
    <h2 class="profile-heading">Добро пожаловать в ваш личный кабинет, @Model.FirstName @Model.LastName!</h2>

    <p class="profile-info">Имя: @Model.FirstName</p>
    <p class="profile-info">Фамилия: @Model.LastName</p>
    <p class="profile-info">Email: @Model.Email</p>
    <p class="profile-info">Телефон: @Model.PhoneNumber</p>
    <p class="profile-info">Страна: @Model.Country</p>
    <p class="profile-info">Город: @Model.City</p>
    <p class="profile-info">Дата рождения: @Model.BirthDay.ToShortDateString()</p>
    <p class="profile-info">Дата регистрации: @Model.RegistrationDate.ToShortDateString()</p>
    <p class="profile-info">Опыт вождения (в годах): @Model.DrivingExperienceYears</p>

    <div class="button-container">
        <form asp-controller="Account" asp-action="Logout" method="post">
            <button type="submit" class="logout-button">Выйти из аккаунта</button>
        </form>
        <a asp-action="EditProfile" asp-controller="Account" class="edit-profile-button">Редактировать</a>
    </div>
</div>

@if (Model.DeletedReviews.Count > 0)
{
    <p class="user-reviews-title">Удаленные отзывы</p>
    <div class="user-reviews">
        <ul id="userReviewsList">
            @foreach (var review in Model.DeletedReviews)
            {
                <li>
                    <strong>@review.Title</strong>
                    <p>Рейтинг: @review.Rating</p>
                    <p>Автомобиль: @review.CarBrand @review.CarModel</p>
                    <p>Опубликовано: @review.PublishTime.ToShortDateString()</p>
                    <div class="user-profile-options">
                        <a asp-action="DeletedReviewDetails" asp-controller="Review" asp-route-id="@review.Id" class="more-info">Подробнее</a>
                    </div>
                    @if (!string.IsNullOrEmpty(review.PhotoPath))
                    {
                        <img class="car-image" src="@Url.Content(review.PhotoPath)" alt="Фотография авто" />
                    }
                </li>
            }
        </ul>
    </div>
}

@if (Model.Reviews.Count > 0)
{
    <p class="user-reviews-title">Ваши отзывы</p>
    <div class="user-reviews">
        <ul id="userReviewsList">
            @foreach (var review in Model.Reviews)
            {
                <li>
                    <strong>@review.Title</strong>
                    <p>Рейтинг: @review.Rating</p>
                    <p>Автомобиль: @review.CarBrand @review.CarModel</p>
                    <p>Опубликовано: @review.PublishTime.ToShortDateString()</p>
                    <div class="user-profile-options">
                        <a asp-action="Details" asp-controller="Review" asp-route-id="@review.Id" class="more-info">Подробнее</a>
                        <a asp-action="EditReview" asp-controller="Review" asp-route-id="@review.Id" class="review-edit">Редактировать</a>
                        <a asp-action="Delete" asp-controller="Review" asp-route-id="@review.Id" class="review-edit">Удалить</a>
                    </div>
                    @if (!string.IsNullOrEmpty(review.PhotoPath))
                    {
                        <img class="car-image" src="@Url.Content(review.PhotoPath)" alt="Фотография авто" />
                    }
                </li>
            }
        </ul>
    </div>
}